<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.datayes.paas.message.model.mapper.MailBoxWMapper" >
    <resultMap id="PagedLetterMap" type="com.datayes.paas.utility.model.Page" autoMapping="true">
        <collection property="data" notNullColumn="mid" javaType="arraylist"
                    ofType="com.datayes.paas.message.model.entity.MailBoxW" resultMap="MailBoxWMap"/>
    </resultMap>

    <resultMap id="MailBoxWMap" type="com.datayes.paas.message.model.entity.MailBoxW" >
        <id column="mid" property="id" jdbcType="BIGINT" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="args" property="args" jdbcType="BIGINT" />
        <result column="source_id" property="sourceId" jdbcType="BIGINT" />
        <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
        <result column="read_time" property="readTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="SMALLINT" />
        <association property="subject" notNullColumn="sid" resultMap="SubjectMap" />
        <association property="content" notNullColumn="cid" resultMap="ContentMap" />
    </resultMap>

    <resultMap id="SubjectMap" type="com.datayes.paas.message.model.entity.Content" >
        <id column="sid" property="id" jdbcType="BIGINT" />
        <result column="s_md5" property="md5" jdbcType="CHAR" />
        <result column="s_status" property="status" jdbcType="INTEGER" />
        <result column="s_content_type" property="contentType" jdbcType="INTEGER" />
        <result column="s_content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <resultMap id="ContentMap" type="com.datayes.paas.message.model.entity.Content" >
        <id column="cid" property="id" jdbcType="BIGINT" />
        <result column="md5" property="md5" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="content_type" property="contentType" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="LONGVARCHAR" />
    </resultMap>

    <sql id="MailBoxSelect">
        select mail.id as mid,
        mail.account,
        mail.source_id,
        mail.receive_time,
        mail.read_time,
        mail.status,
        mail.args,
        co1.id as sid,
        co1.content as s_content,
        co1.status as s_status,
        co1.md5 as s_md5,
        co1.content_type as s_content_type,
        co2.id as cid,
        co2.content,
        co2.status,
        co2.content_type,
        co2.md5
    </sql>
    <select id="selectMailBoxPage" resultMap="PagedLetterMap">
        <include refid="MailBoxSelect"/>, @row_num totalcount, #{pageIndex} AS pageIndex, #{pageSize} AS pageSize
        FROM mailbox mail LEFT JOIN content co1 on mail.subject_id=co1.id
        LEFT JOIN content co2 on mail.content_id=co2.id
        INNER JOIN
            (select @row_num:=@row_num+1 rownum, result.id FROM (
               select @row_num:=0, webmail.id from (
                  select * from mailbox where account=#{account}
                  <choose>
                      <when test="null == status">
                          and (status=0 or status=1)
                      </when>
                      <otherwise>
                          and status=#{status}
                      </otherwise>
                  </choose>

               ) as webmail
               LEFT JOIN (select * from content WHERE status=0) as co3 ON webmail.subject_id = co3.id
               LEFT JOIN (select * from content WHERE status=0) as co4 ON webmail.content_id = co4.id
               ORDER BY
                 <choose>
                   <when test="order == 'receiveTime'">
                       webmail.receive_time
                    </when>
                    <when test="order == 'app'">
                        webmail.source_id
                    </when>
                    <when test="order == 'status'">
                        webmail.status
                    </when>
                    <otherwise>
                        webmail.receive_time
                    </otherwise>
                  </choose>
                  <if test="!isAsc"> DESC </if>
                  <if test="order != 'receiveTime'"> , webmail.receive_time DESC </if>
               ) as result) as order_result ON mail.id = order_result.id
        WHERE order_result.rownum &gt;#{pageSize}*(#{pageIndex}-1)
        AND order_result.rownum &lt;=#{pageSize}*#{pageIndex}
        ORDER BY order_result.rownum
    </select>

    <select id="selectMailBoxById" resultMap="MailBoxWMap">
        <include refid="MailBoxSelect" />
        FROM (
          select * from mailbox where id=#{mailId} and account=#{account}
        ) as mail
        LEFT JOIN (select * from content where status=0) as co1 ON mail.subject_id = co1.id
        LEFT JOIN (select * from content where status=0) as co2 ON mail.content_id = co2.id
    </select>


    <select id="selectMailBox" resultMap="MailBoxWMap">
        <include refid="MailBoxSelect"/> from (
        select * from mailbox where account=#{account}
        <choose>
            <when test="null == status">
                and (status=0 or status=1)
            </when>
            <otherwise>
                and status=#{status}
            </otherwise>
        </choose>
        <if test="null != startTime">
            and receive_time &gt;=#{startTime}
        </if>

        ) as mail
        LEFT JOIN (select * from content WHERE status=0) as co1 ON mail.subject_id = co1.id
        LEFT JOIN (select * from content WHERE status=0) as co2 ON mail.content_id = co2.id
        ORDER BY
        <choose>
            <when test="null == order">
                mail.receive_time
            </when>
            <when test="order == 'app'">
                mail.source_id
            </when>
            <when test="order == 'status'">
                mail.status
            </when>
            <otherwise>
                mail.receive_time
            </otherwise>
        </choose>
           <if test="null == isAsc || isAsc"> DESC </if>
        <if test="order != 'receiveTime'"> , mail.receive_time DESC </if>
    </select>

</mapper>