html{
	background: url('../img/bg-line.gif');
}
body{
    font-family: 'Microsoft YaHei', "STHeiti", Helvetica, Verdana, Arial, sans-serif;
}
html{
  height:100%;
}
body{
  height:620px;
  min-height:100%;
  position:relative;
}
.icon{
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.icon-user{
    background-position: -1px -1px;
    width: 18px;
    height: 18px;
}
.icon-password{
    background-position: -1px -20px;
    width: 18px;
    height: 17px;
}
.icon-close{
    background-position: -1px -41px;
    width: 18px;
    height: 18px;
}
.loginIpt .icon-close{
  position: absolute;
  right:10px;
  top:50%;
  margin-top:-5px;
  visibility:visible;
}
.icon-warn{
    background-position: 0 -61px;
    width: 21px;
    height: 17px;
}
.position {
	margin: 75px auto 0;
}

.login-panel {
	width: 320px;
	padding: 50px 0 20px;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0px 6px 12px 4px rgba(0, 0, 0, 0.45);
	background: url(../img/cardBg.jpg) center 23px no-repeat #fff;
	position:relative;
}
.hook{
    background: url(../img/hook.png) center top no-repeat;
	height:156px;
	text-align:center;
	position:absolute;
	top:-124px;
  width: 67px;
  left:50%;
  margin-left:-34px;
}
.logo{
	border:1px solid #ecebeb;
	height:130px;
	background-color:#f5f5f5;
	display:table;
	width:100%;
	background:url(../img/logo.jpg) center no-repeat;
}
.logo span{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.loginIpt{
	border:1px solid #cdcccc;
	background-color: #f2f2f2;
	border-radius:5px;
	margin-top:22px;
}
.form form.error .loginIpt{
    border-color: #E54f47;
}
.form .input{
	margin:0 2px;
	padding:0 0 0 8px;
	line-height:40px;
    position: relative;
}
.form input[type="text"],
.form input[type="password"]{
    border: none;
    background-color: transparent;
    vertical-align: middle;
    margin: 0;
    line-height: 1.5;
    width: 210px;
}
.form .input .icon-close{
	cursor: pointer;
    visibility: hidden;
}
.form .error input[type="text"],
.form .error input[type="password"]{
    color: #E54f47;
}
.form .ipt-name.error{
    border-bottom-color: #E54f47;
}
.form .ipt-pw.error{
    border-top-color: #E54f47;
}
.form .ipt-name.error .icon-user{
    background-position: -21px -1px;
}
.form .ipt-pw.error .icon-password{
    background-position: -21px -21px;
}
.ipt-name{
	border-bottom:1px solid #cdcccc;
}
.ipt-pw{
	border-top:1px solid #fff;
}
.form .icon-warn{
    display: none;
    position: absolute;
    right: 10px;
    top: 11px;
}
.form .error-message{
    font-size: 12px;
    color: #E54f47;
    padding: 5px;
    display: block;
    height:30px;
    line-height:30px;
}
.form .error-message a{
  float:right;
  color:#5488d4;
  text-decoration:underline;
}
i.weichat {
  background-image: url('../img/icons-admin.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position: 0 -150px;
  width: 25px;
  height: 20px;
}
.form .error-message a.weichat{
  float:left;
  cursor: pointer;
}
.form .success-message, .form .valid-message{
  font-size: 14px;
  color: #000000;
  padding: 5px;
  display: block;
  height:30px;
  line-height:30px;
  padding: 55px 0;
  text-align: center;
}
.loginIpt dl input{
	border:0;
	background:transparent;
	vertical-align:middle;
}
#btnLogin{
	border:0;
	margin-top:0;
	height:39px;
	line-height:35px;
	color:#fff;
	width:100%;
	background-color:#ffcb2f;
	border-radius:5px;
	cursor:pointer;
  font-size:18px;
  color:#000;
}
#btnLogin:hover{
	box-shadow:inset 0 -5px 0 0 rgba(0,0,0,0.1);
}
.form{
    padding: 20px 20px 0;
    display: none;
    position: relative;
}

.header {
  background: #000000;
}
.header .container {
  max-width:970px;
  width:78.2258%;
  margin:0 auto;
  height: 48px;
}
.header .container:before,
.header .container:after {
  content: " ";
  display: table;
}
.header .container:after {
  clear: both;
}
.header-logo {
  float: left;
  /* width: 130px; */
  line-height: 48px;
}
.header-nav {
  float: left;
  font-size: 14px;
}
.header-nav:before,
.header-nav:after {
  content: " ";
  display: table;
}
.header-nav:after {
  clear: both;
}
.header-nav li {
  float: left;
  line-height: 48px;
  margin: 0 15px;
}
.header-nav li a {
  color: #ffffff;
}
.header-nav li a.cur {
  color: #ffcb2f;
}
.header-link,
.header-enter,
.header-lang {
  line-height: 48px;
  font-size: 12px;
  color: #ffffff;
}
.header-link > a,
.header-enter > a,
.header-lang > a {
  color: #ffffff;
}
.header-link.cur,
.header-enter.cur,
.header-lang.cur {
  color: #ffcb2f;
}
.header-link {
  float: right;
  margin-left:20px;
}
.header-link a {
  margin: 0 8px;
}
.header-enter {
  float: right;
  margin-left: 16px;
}
.header-enter .btn-header-regist {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  width: 58px;
  height: 21px;
  line-height: 21px;
  padding-left: 0;
  padding-right: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
}
.header-enter .btn-header-regist a {
  color: #ffffff;
}
.footer-bottom .agreement-link{
  color: #ffcb2f;
  text-decoration:underline;
}
.footer-bottom {
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  background-color: #000000;
  height: 42px;
  line-height: 42px;
  color: #ffffff;
  font-size:12px;
}
.footer-bottom span,
.footer-bottom a {
  color: #fff;
}
.footer-bottom a {
  margin: 0 10px;
}
.i_header_logo {
  display: inline-block;
  background-image: url('https://vpc.wmcloud.com/img/logo.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  /* width: 50px; */
}
.i_header_logo {
  width: 65px;
  height: 55px;
  background-position: 0 0;
}

@media only screen and (min-width: 641px) { 
  .mobile-header{
    display:none;
  }
  .loginIpt .input{
    position: relative;
  }
  .loginIpt .input .form-tips{
    position: absolute;
    top: 0;
    left: 302px;
    color: #ffffff;
    max-width: 400px;
    padding: 8px 13px;
    background-color: #5a5a5a;
    border: 1px solid #848484;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 12px;
    line-height: 2em;
    white-space: nowrap;
  }
  .loginIpt .input .form-tips:before{
    content: '';
    position: absolute;
    display: block;
    width: 6px;
    height: 4px;
    border: solid #848484;
    border-width: 1px 0 0 1px;
    background-color: #5a5a5a;
    top: 22px;
    left: -4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: skew(60deg, 140deg);
    -ms-transform: skewX(60deg) skewY(140deg);
    transform: skew(60deg, 140deg);
  }
}
@media only screen and (max-width: 640px) {
  .loginIpt .input .form-tips,
  html .form-tips{
    display: none !important;
  }
  .login-panel{
    width: 500px;   
    padding:0 35px 40px;
  }
  .logo{
    margin-top:35px;
    height:250px;
    background:url(../img/logo_l.jpg) center no-repeat;
  }
  .loginIpt{
    margin-top:40px;
  }
  .loginIpt dl{
    line-height:78px;
  }
  .loginIpt dl input{
    font-size:30px;
  }
  .form .input{
    height:72px;
    line-height:72px;
    font-size:30px;
  }
  .form input[type="text"], .form input[type="password"]{
    width:390px;
    font-size:24px;
  }
  .form .error-message{
    font-size:24px;
    line-height:1em;
    padding:20px 0;
  }
  .form .error-message div{
    padding-bottom:5px;
    line-height:30px;
  }
  .form a.weichat{
    display:none;
  }
  #btnLogin{
    height:70px;
    line-height:65px;
    font-size:30px;
    margin-top:20px;
  }
  #btnLogin:hover{
    box-shadow:inset 0 -9px 0 0 rgba(0,0,0,0.1);
  }
  .header,
  .footer-bottom{
    display:none;
  }
  .mobile-header{
    line-height:1em;
    text-align:center;
    margin:45px 0;
    font-size:24px;
    color:#fff;
  }
  .mobile-header a{
    margin:0 35px;
    color:#fff;
  }
  .position {
    margin: 55px auto 0;
  }
}

