<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1000">

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>


    <property name="file.log.base.path" value="/datayes/gateway/log/"/>
    <property name="file.log.max.history" value="7"/>
    <property name="file.log.max.size" value="1024MB"/>

    <appender name="CONSOLE_ALL" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%date{ISO8601} %level [%thread] [%class - %method] - [%message]%n
            </pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_ALL"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file.log.base.path}/${gateway.id}-all.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${file.log.max.history}</maxHistory>
            <fileNamePattern>${file.log.base.path}/${gateway.id}-all.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${file.log.max.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

    </appender>

    <appender name="FILE_DEBUG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file.log.base.path}/${gateway.id}-debug.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${file.log.max.history}</maxHistory>
            <fileNamePattern>${file.log.base.path}/${gateway.id}-debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${file.log.max.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_INFO"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file.log.base.path}/${gateway.id}-info.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${file.log.max.history}</maxHistory>
            <fileNamePattern>${file.log.base.path}/${gateway.id}-info.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${file.log.max.size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="FILE_ERROR"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file.log.base.path}/${gateway.id}-error.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${file.log.max.history}</maxHistory>
            <fileNamePattern>${file.log.base.path}/${gateway.id}-error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="APPENDER_INVOCATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${file.log.base.path}/${gateway.id}-invocation.log</file>
        <append>true</append>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>${file.log.max.history}</maxHistory>
            <fileNamePattern>
                ${file.log.base.path}/${gateway.id}-invocation.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

    </appender>

    <logger name="com.datayes.api.gateway.log.InvocationLogger"
            additivity="false">
        <appender-ref ref="APPENDER_INVOCATION"/>
    </logger>


    <root level="DEBUG">
        <!--<appender-ref ref="FILE_DEBUG"/>-->
        <appender-ref ref="FILE_INFO"/>
        <appender-ref ref="FILE_ERROR"/>
        <!--<appender-ref ref="FILE_ALL"/>-->
        <!--<appender-ref ref="CONSOLE_ALL"/>-->

    </root>

</configuration>
